.body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    background-color: #b3cde0;
    color: black;
    font-family: monospace;
}
.nav {
    text-align: center;
}
.link, .link2 {
    color: #03396c;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
}
header, footer{
    text-align: center;
    background-color: #011f4b ;
    padding: 1rem;
    margin: 1rem;
    color: aliceblue;
    min-width: 95vw;
}
footer {
    margin-top: auto;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    min-height: 75vh;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: auto;
    margin-left: 2rem;
}
.center {
    text-align: center;
    margin-bottom: .5rem;
}
.sort {
    color: black;
    background-color: #6497b1;
    display: inline-block;
    padding: 1rem;
    text-align: center;
    padding-top: 0;
    border: 5px solid black;
}
.link2 {
    color: black;
}
.post {
    color: black;
    background-color: white;
    padding: 1rem;
    text-align: center;
    border: 5px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
}
.postLink {
font-size:1rem;
color:#011f4b;
}
.createNewForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
.message {
    padding-bottom: 2rem;
}
.fullPost {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 10px;
}
.fullPost h1 {
    margin-bottom: 10px;
  }
  
  .fullPost h4 {
    color: #555;
    margin-bottom: 10px;
  }
  
  .fullPost h2 {
    margin-bottom: 15px;
  }
  
  .fullPost h5 {
    color: #555;
    margin-bottom: 10px;
  }
  
  .fullPost h6 {
    color: #555;
    font-size: .6rem;
  }

  .comments-section {
    margin-top: 20px;
  }
  
  .comments-section h2 {
    margin-bottom: 10px;
  }
  
  .add-comment-form {
    margin-bottom: 20px;
  }
  
  .add-comment-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .add-comment-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .add-comment-form button, .delBtn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border: 1px solid black;
  }

  .comment {
    margin-bottom: 20px;
  }
  
  .comment a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .comment p {
    color: #555;
    margin-top: 5px;
  }

  .comments-section {
    text-align: center;
  }
  .delBtn {
    margin-top: 1rem;
  }
  .container-edit {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 2rem;
  }
  .edit-post-form {
    margin-bottom: 20px;
  }
  
  .edit-post-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .edit-post-form input,
  .edit-post-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .edit-post-formBtn{
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border: 1px solid black;
  }
  
  .original-post-details {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .original-post-details p {
    margin: 5px 0;
    color: #555;
  }
  
  .link-back {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
  }
  .postPageCont {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
  }
  .postPageCont h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .postPageCont h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .postPageCont h4 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .postPageCont form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .postPageCont label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .postPageCont input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .postPageCont button {
    padding: 8px 12px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .postPageCont button:hover {
    background-color: #0056b3;
  }
  
  .postPageCont a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #0070f3;
  }
  
  .postPageCont a:hover {
    text-decoration: underline;
  }